<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.rest.common.persistence.dao.OrderDefaultMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.rest.common.persistence.model.OrderDefault">
        <result column="UUID" property="uuid" />
        <result column="cinema_id" property="cinemaId" />
        <result column="field_id" property="fieldId" />
        <result column="film_id" property="filmId" />
        <result column="seats_ids" property="seatsIds" />
        <result column="seats_name" property="seatsName" />
        <result column="film_price" property="filmPrice" />
        <result column="order_price" property="orderPrice" />
        <result column="order_time" property="orderTime" />
        <result column="order_user" property="orderUser" />
        <result column="order_status" property="orderStatus" />
    </resultMap>
    <select id="getSeatPathByFieldId" parameterType="string" resultType="string">
        select seat_address as seatAddress
        from field f,hall h
        where f.hall_id = h.UUID
          and f.UUID = #{fieldId}
    </select>
    <select id="getOrderVOByUuid" parameterType="string" resultType="com.stylefeng.guns.api.order.vo.OrderVo">
        select
            o.UUID as orderId,
            o.seats_name as seatsName,
            o.order_price as orderPrice,
            h.film_name as filmName,
            f.begin_time as fieldTime,
            c.cinema_name as cinemaName,
            o.order_time AS orderTimestamp
        from
            order_default o,
            field f,
            cinema c,
            hall_film_info h
        where o.cinema_id = c.UUID
          AND o.field_id = f.UUID
          AND o.film_id = h.film_id
          and o.UUID = #{orderId}
    </select>


    <select id="getOrdersByUserId" parameterType="int" resultType="com.stylefeng.guns.api.order.vo.OrderVo">
        select
            o.UUID as orderId,
            h.film_name as  filmName,
            f.begin_time as fieldTime,
            ci.cinema_name AS cinemaName,
            o.seats_name AS seatsName,
            o.order_price AS orderPrice,
            o.order_time AS orderTimestamp
        from
            order_default o,
            field f,
            hall_film_info h,
            cinema ci
        where
            o.field_id = f.UUID
        and
            o.cinema_id =ci.UUID
        and
            o.film_id = h.film_id
        and
            o.order_user = #{userId}

    </select>
    <select id="getSoldSeatsByFieldId" parameterType="int" resultType="string">
        select group_concat(seats_ids) from order_default where field_id = #{fieldId}
    </select>
</mapper>
